nav {
    background-color: white;
    height: 60px;
    top: 0px;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 7px 6px -6px #999;

    position: fixed;
    width: 100%;

    /* make navbar highest z-index to be the most front facing thing */
    z-index: 1;
}

nav .logo {
    position: relative;
    left: 20px;
    padding: 10px 25px;
    background-color: green;

    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
}

nav .logo a {
    position: relative;
    border: 2px solid;
    border-radius: 100%;
    padding: 5px;
    font-size: 18px;
    font-weight: 800;
    color: yellow;
    text-decoration: none; 
}

nav .search-bar {
    position: relative;
    left: 25%;
    width: 500px;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

nav .dropdown {
    position: absolute;
    display: inline-block;
    right: 20px;
    top: 35%;
    padding: 15px 50px;
    bottom:0px;
}

nav .dropdown-arrow {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-top: 7px solid black;
}

nav .dropdown-menu {
    position: absolute;

    width: 350px;
    background-color: lightslategrey;
    top: 40px;
    right: -20px;

    display: block;
    height: 0px;
    transition: height 500ms;

    overflow: hidden;
    opacity: 0.9;

    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 7px 6px -6px #999;
}

nav .dropdown:hover .dropdown-menu {
    height: 275px;
}

nav .dropdown:hover .dropdown-arrow {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    
    border-top: 7px solid green;
}

.dropdown-menu ul {
    position: relative;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.dropdown-menu ul li {
    margin: 20px;
}

.dropdown-menu ul li a {
    text-decoration: none;
    color: yellow;
}

.dropdown-menu ul li a:hover {
    text-decoration: underline;
    color: green;
}

.navbar-fixed-reserved-block {
    margin-top: 60px;
}

#mobile-nav {
    display: none;
}

@media only screen and (max-width: 940px) {
    #wide-nav {
        display: none;
    }

    #mobile-nav {
        display: block;
    }

    nav .mobile-dropdown {
        position: absolute;
        display: inline-block;
        right: 20px;
        bottom: 0px;
    }

    /* #mobile-nav-menu-toggle {
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        margin-right: 20px;
    } */

    #mobile-nav-menu-toggle {
        margin-bottom: 10px;
        margin-right: 15px;
    }

    #mobile-nav-menu-toggle:hover {
        cursor: pointer;
        color: green;
    }

    #mobile-nav-menu-toggle:action {
        cursor: pointer;
        color: green;
    }
}




nav .dropdown-menu.show {
    height: 275px;
}

nav .dropdown-menu.hide {
    height: 0px;
}