body {
    background-color: aliceblue;
}

.content-container {
    background-color: white;
    margin: 0px 50px;
    padding: 0px 20px;
    overflow-x: hidden;
}

.content-seperator {
    width: 98%;
}